
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCProject</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @*<link href="~/css/style.css" rel="stylesheet" />*@
    @*<link href="~/css/Sidebar.css" rel="stylesheet" />*@
    <link href="~/css/SideNavBar.css" rel="stylesheet" />
    <style>
        
        .page-content {
            width: 100%;
            margin-left:60px;
        }

        .row {
            margin: 0px;
        }


        .document-actions {
            background: white;
            position: absolute;
            z-index: 1;
            top: 10%;
            left: 40%;
            border: 1px solid #3333;
            transition: all .2s ease-in-out;
        }

            .document-actions .document-action-list-group {
                list-style: none;
                padding: 0px;
            }

            .document-actions .document-action-list {
                padding: .5rem 1rem;
            }

        a.document-action-link {
            /* width: 100%; */
            text-decoration: none;
        }

            a.document-action-link > .glyphicon {
                font-size: 20px !important;
                color: #3333 !important;
                margin-right: 2rem !important;
            }
    </style>

  
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow flex-row-reverse " style="z-index:10000">
            <div class="row">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MVCProject</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">


                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="GetUsers">Manage Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="GetRoles">Manage Roles</a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-action="LogOut" asp-controller="Account" title="logout"><span class="fa fa-sign-out mr-3"></span></a>
                        </li>

                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="wrapper d-flex align-items-stretch">

        <nav class="main-menu side-nav-bar" id="SideNavBar">
            <ul>
                <li>
                    <a asp-controller="DashBoard" asp-action="Index">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>

                </li>
                <li>
                    <a asp-controller="Employees" asp-action="Employees">
                        <i class="fa fa-bar-chart-o fa-2x"></i>
                        <span class="nav-text">
                            Manage Employees
                        </span>
                    </a>
                </li>
                <li class="has-subnav" style="display:none">
                    <a asp-controller="Users" asp-action="GetUsers">
                        <i class="fa fa-user"></i>
                        <span class="nav-text">
                            Mange Users
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a asp-controller="Roles" asp-action="GetRoles">
                        <i class="fa fa-critical-role"></i>
                        <span class="nav-text">
                            Manage Roles
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a asp-controller="Departments" asp-action="Departments">
                        <i class="fa fa-folder-open fa-2x"></i>
                        <span class="nav-text">
                            Manage Departments
                        </span>
                    </a>

                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-font fa-2x"></i>
                        <span class="nav-text">
                            Quotes
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">
                            Tables
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Maps
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Documentation
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                    <a href="#">
                        <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>
            </ul>
        </nav>


        <div class="page-content">
            <main role="main" class="h-100 p-0">
                @RenderBody()
            </main>
        </div>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - MVCProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/third-party/Font-awesome/js/all.js" rel="stylesheet" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Sidebar.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
