<div class="roles row">
    @foreach (var dept in departments)
    {
        <div class="col-md-4">


            <div class="role-card  info-card card">

                <div class="role-card-header d-flex card-header">
                    <a class="user-type-image" href="javascript:void(0);">
                        <img src="/Images/NoProfile.png" width="60">
                    </a>
                    <h5 class="card-title"> </h5>
                    <div class="card-subheader">
                        <h6 class="card-title">@dept.Name</h6>
                        <p class="card-subtitle">
                            &nbsp;
                            <span>&nbsp;</span>
                        </p><p>
                        </p>
                    </div>
                    <div class="role-options">
                        <button asp-controller="Departments" class="btn" @onclick="@(()=>EditDepartmentClick.InvokeAsync(dept.Id))"><i class="fa fa-edit"></i></button>

                        <button asp-controller="Departments" class="btn" @onclick="@(()=>DeleteDepartmentClick.InvokeAsync(dept.Id))"><i class="fa fa-remove"></i></button>
                    </div>
                </div>
                <div class="card-footer user-card-border">
                    <a title="View More" href="employee-detail.html" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">View More</a>
                </div>

            </div>
        </div>
    }

</div>

@code {

    [Parameter]
    public List<Entities.ViewModels.Departments.DepartmentViewModel> departments { get; set; }

    [Parameter]
    public EventCallback<int> EditDepartmentClick { get; set; }

    [Parameter]
    public EventCallback<int> DeleteDepartmentClick { get; set; }
}
