@typeparam TItem


        <div class="tab-content">
            <!-- Grid View -->
            <div class="" id="">
                <div class="row">


                    @foreach (var item in Items)
                        {
                            ItemTemplate(item);
                       
                    }




                </div>
            </div>
            <!-- Grid View End -->
            <!-- List View Start -->
            <!-- List View End -->
        </div>

@code
{
    [Parameter]
    public RenderFragment<TItem> ItemTemplate { get; set; }
    [Parameter]
    public IReadOnlyList<TItem> Items { get; set; }
}
   