<h3>EmployeeCard</h3>

<div class="card-header">
    
</div>
<div class="card-body">
    <div class="row form-group">
        <div class="col-md-4">
            <label>Employee Name:</label>

        </div>
        <div class="col-md-8">
            @applicationUser.UserName
        </div>

    </div>
    <div class="row form-group">
        <div class="col-md-4">
            <label>Employee Name:</label>

        </div>
        <div class="col-md-8">
            @applicationUser
        </div>

    </div>
    <div class="row form-group">
        <div class="col-md-4">
            <label>City:</label>

        </div>
        <div class="col-md-8">
            @*@applicationUser.City*@
        </div>

    </div>
</div>
<div class="card-footer">

</div>