@inherits LayoutComponentBase

    <div class="sidebar-wrapper" >
        <NavMenu />
      
    </div>
    @*<div class="sidebar">
        <SideNavBar />
    </div>*@
      
   

<div class="main">
    <div class="top-row px-4" style="z-index:1">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
