

<link href="/css/SideNavBar.css" rel="stylesheet" />

<div class="wrapper d-flex align-items-stretch">
    <nav class="main-menu side-nav-bar" id="SideNavBar">
        <ul>
            <li>
                <a class="nav-link" href="Employees/Dashboard">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">
                        DashBoard
                    </span>
                   
                </a>


            </li>
            <li>
                <a class="nav-link" href="Employees/Employees">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">
                        Manage Employees
                    </span>
                </a>

            </li>
            <li class="has-subnav" style="display:none">
                <a href="Employees/GetUsers">
                    <i class="fa fa-user"></i>
                    <span class="nav-text">
                        Mange Users
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="Employees/GetUsers">
                    <i class="fa fa-critical-role"></i>
                    <span class="nav-text">
                        Manage Roles
                    </span>
                </a>


            </li>
            <li class="has-subnav">
                <a href="Employees/Departments">
                    <i class="fa fa-folder-open fa-2x"></i>
                    <span class="nav-text">
                        Manage Departments
                    </span>
                </a>



            </li>

            @*<li>
                    <a href="#">
                        <i class="fa fa-font fa-2x"></i>
                        <span class="nav-text">
                            Quotes
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">
                            Tables
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Maps
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Documentation
                        </span>
                    </a>
                </li>*@
        </ul>

        <ul class="logout">
            <li>
                <a href="#">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>
        </ul>
    </nav>
    </div>




